body{
color:#00e673;
}

h1{
position: absolute;
color:white;
top:2%;
font-size: 80px;
margin-top: 0px;
left: 30%;
font-family: 'Dosis', sans-serif;
}

.but{
	position: absolute;
	left:0%;
	top:0%;
	zoom:0.5;
}

.section1 p{
position: absolute;
top: 45%;
left: 64%;
font-size: 45px;
font-family: 'Gloria Hallelujah', cursive;
color: rgb(75,128,167);
display: none;
}

#six{
	display: block;
}

.section1{
background-image: url(image/6.png);
text-align: center;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
-webkit-background-size :cover;
-moz-background-size:cover;
-o-background-size:cover;
    width: 100%;
    height: 100%;
}



.fmenu{
position:absolute;
top:0%;
width:30%;
left: 0%; 
height: 100%;
} 

.f1{
position: absolute;
top:3%;
width: 30%;
height: 25%;
left: 37%;
}

.f2{
position: absolute;
top:36%;
width: 30%;
height: 25%;
left: 20%;
}

.f3{
position: absolute;
top:36%;
width: 30%;
height: 25%;
left: 60%;
}

.f4{
position: absolute;
top:70%;
width: 30%;
height: 25%;
left: 10%;
}

.f5{
position: absolute;
top:70%;
width: 30%;
height: 25%;
left: 70%;
}

.section2{
background-image: url(image/3.3.jpg) ;
text-align: center;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
-webkit-background-size :cover;
-moz-background-size:cover;
-o-background-size:cover;
}

.section2 .img1{
	display: none;
	position:absolute;
	left: 20%;
    top: 42%;
    width: 20%;
    height: 50%;
}

.section2 div{
	float: left;
}

.section2 .img2{
	opacity: 0;
	position:absolute;
    left: 24%;
    top: 67%;
    width: 55%;
    height: 26%;
}

.section2 h1{
	color: black;

}

.section3{
background-image: url(image/2.1.png) ;
text-align: center;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
-webkit-background-size :cover;
-moz-background-size:cover;
-o-background-size:cover;
}

.section3 .img1{
position: absolute;
    left: 40%;
    display: none;
    opacity: 0.5;
    width: 20%;
    top: 60%;
}

.section3 h1{
	color: rgb(25,61,87);
}

.section4{
background-image: url(image/4.png) ;
text-align: center;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
-webkit-background-size :cover;
-moz-background-size:cover;
-o-background-size:cover;
}

.section4 .img1{
position: absolute;
top: 10%;
left:0%;
transform:rotate(45deg);
}

.section4 .img2{
position: absolute;
top: 30%;
left: 18%;
opacity: 0;
width: 10%;
}

.section4 .img3{
position: absolute;
top: 45%;
left:25%;
opacity: 0;
width: 10%;
}

.section4 .img4{
position: absolute;
top: 50%;
left: 35%;
width: 10%;
opacity: 0;
}

.section4 h1{
	color: rgb(170,169,184);
}
.section5 .img1{
    width: 53%;
    position: absolute;
    left: 24%;
    top: 57%;
}

.section5{
background-image: url(image/5.jpg);
text-align: center;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
-webkit-background-size :cover;
-moz-background-size:cover;
-o-background-size:cover;
}

.section5 h1{
	color:white;
}
.section6{

background-image: url(image/1.jpg);
text-align: center;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
-webkit-background-size :cover;
-moz-background-size:cover;
-o-background-size:cover;
z-index:-1;

}


.section6 .img1{
    width: 30%;
    top: 56%;
    position: absolute;
    animation-name: re;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: re;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    z-index: 1;
}

@keyframes re{
from {left:33%;}
to {left: 102%}
}

@-webkit-keyframes re{
from {left:33%;}
to {left: 102%}
}

.section6 h1{
color: rgb(45,67,20);
}

.slide1{
	font-size: 200px;
	text-align: center;
}

.slide2{
	font-size: 200px;
	text-align: center;
}

#fullpageMenu{
	position: fixed;
	font-size: 25px;
	color: white;
	top:0px;
	right:0px;
}

#fp-nav {
	top: 10%;
}

.box1{
    position: absolute;
    width: 600px;
    top: 20%;
    left: 50%;
    font-size: 30px;
    color: rgb(0,0,0);
}

.box2{
    position: absolute;
    width: 600px;
    top: 20%;
    left: 50%;
    font-size: 30px;
    color: rgb(25,61,87);
}

.box3{
    position: absolute;
    width: 600px;
    top: 20%;
    left: 50%;
    font-size: 30px;
    color: rgb(170,169,184);
}

.box4{
    position: absolute;
    width: 600px;
    top: 20%;
    left: 65%;
    font-size: 30px;
    color: white;
}

.box5{
    position: absolute;
    width: 800px;
    top: 12%;
    left: 45%;
    font-size: 25px;
    color: rgb(45,67,20);
}

.box6{
	position: absolute;
    width: 600px;
    top: 20%;
    left: 15%;
    font-size: 30px;
    color: rgb(25,61,87);
}

.box7{
    position: absolute;
    width: 600px;
    top: 20%;
    left: 5%;
    font-size: 30px;
    color: white;
}

.box8{
    position: absolute;
    width: 800px;
    top: 50%;
    left: 45%;
    font-size: 25px;
    color: rgb(45,67,20);
    z-index: 2
}

@media screen and (max-width: 1600px){
    h1{
        font-size: 60px;
    }

    .section1 p{
        font-size: 30px;
    }

    .box{
        font-size: 23px;
    }

    .box2{
        font-size: 23px;
    }

    .box3{
        font-size: 23px;
    }

    .box4{
        font-size: 23px;
    }

    .box5{
        font-size: 23px;
    }

    .box6{
        font-size: 23px;
    }

    .box7{
        font-size: 23px;
    }

    .box8{
        font-size: 23px;
    }
}
